/* Importar fuente Inter desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Aplicar la fuente globalmente */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; /* Asegura que el body ocupe toda la altura de la vista */
}

/* Variables de Color */
:root {
    --navbar-bg-color: #1F2126;
    --gradient: linear-gradient(to right, #0051FF, #0e0edb);
    --item-bg-hover-color: #1D1033;
    --bottom-color-one: #1F2126;
    --bottom-color: #1F2126;
    --bottom-hover: white;
    --text-color: white;
    --text-colortwo: rgba(0, 0, 0, 0.1);
    --text-colorthree: #1F2126;
    --menu-height: calc(100vh - 60px);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --background: white;
    --background-blue:  #1F2126;
}

/* Navbar estilos */
.navbar {
     /* Fondo transparente por defecto */
    color: var(--text-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    transition: background-color 0.1s ease; /* Transición suave para el cambio de color */
}

.navbar.active {
    background-color: var(--navbar-bg-color); /* Color de fondo cuando el menú está activo */
}

/* Estilo cuando se hace scroll */
.navbar.scrolled {
    background-color: var(--navbar-bg-color); /* Cambia el color de fondo al hacer scroll */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    display: flex;
    gap: 1rem;
}

.navbar-item {
    border-radius: 30px; /* Asegura que el borde redondeado esté siempre aplicado */
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    background-color: var(--bottom-hover);
    border-radius: 30px;
    color: var(--text-colorthree);
    cursor: pointer;
}

.navbar-toggle {
    display: none;
    background: none;
    border: none;
    position: relative;
    width: 30px;
    height: 30px;
    transition: background-color 0.1s ease;
}

/* Íconos de menú */
.icon {
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    filter: invert(1) brightness(100) grayscale(0); /* Cambia el color de los íconos a blanco */
}

.menu-icon {
    display: block;
}

.close-icon {
    display: none;
}

.content {
    width: 100%;
     /* Añade espacio en la parte superior para evitar que el contenido quede detrás del navbar */
}



/* Estilos para el Primer Bloque: Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    padding-top: 60px;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    height: 85vh; /* Altura del banner */
}

.banner-text {
    max-width: 50%;
}

.banner-image {
    width: 40%;
    height: 100%;
}


.hire-us-button {
    background-color: var(--bottom-color-one); /* Color de fondo del botón */
    color: var(--text-color); /* Color del texto del botón */
    border: none; /* Sin bordes */
    padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
    border-radius: 30px; /* Bordes redondeados */
    margin-top: 1rem; /* Espacio superior para separar el botón del párrafo */
}

.hire-us-button:hover {
    background-color: var(--bottom-hover);
    color: var(--text-colorthree); /* Color de fondo del botón al pasar el cursor */
}

/* Estilos para el Segundo y Cuarto Bloque: Texto Centrado */
.centered-text {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #f9f9f9; /* Color de fondo claro para diferenciar */
}

/* Estilos para el Tercer Bloque: Texto Izquierda con Imagen Derecha */
.text-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #fff; /* Color de fondo blanco */
}

.text-left {
    max-width: 50%;
}

.image-right {
    width: 40%;
    height: 300px; /* Altura de la imagen derecha */
}

.centered-text-two {
    text-align: center;
    padding: 1rem 1rem;
    background-color: #f9f9f9; /* Color de fondo claro para diferenciar */
}

.adaptive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: start;
}

.grid-item {
    padding: 20px;
    text-align: center;
}

.adaptive-grid-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    padding: 20px;
    justify-items: center;
    align-items: start;
}

.grid-item-two {
    padding: 0 20px 20px 20px;
    text-align: center;
    background-color: var(--background);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}

.grid-item-two p ,li {
    text-align: left;
}

.grid-item-two li {
    margin-left: -1.3rem;
}


.plan-button {
    background-color: var(--bottom-color); /* Color de fondo del botón */
    color: var(--text-color); /* Color del texto del botón */
    border: none; /* Sin bordes */
    padding: 0.75rem 1.5rem; /* Espaciado interno del botón */
    width: 100%;
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cambio de cursor al pasar por encima */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
    border-radius: 30px; /* Bordes redondeados */
    margin-top: 1rem; /* Espacio superior para separar el botón del párrafo */
}

.plan-button:hover {
    background-color: #F5A200;
    color: var(--text-color); /* Color de fondo del botón al pasar el cursor */
}




/* Media Queries para Responsive Design */
@media (max-width: 768px) {
    /* Estilos para el menú cuando está cerrado */
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        height: var(--menu-height); /* Ocupa el resto de la altura de la vista, ajusta 60px al alto del navbar si es diferente */
        background-color: var(--navbar-bg-color); /* Ajusta el color de fondo si es necesario */
        position: fixed; /* Posiciona el menú para que esté sobre el contenido */
        top: 60px; /* Ajusta al alto del navbar */
        left: 0;
        right: 0;
        padding-top: 1rem; /* Espacio superior para el contenido del menú */
        padding-bottom: 1rem; /* Espacio inferior para el contenido del menú */
        z-index: 1000; /* Asegura que el menú esté encima del contenido */
        overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es más largo */
        justify-content: center; /* Centra el contenido verticalmente */
        box-sizing: border-box; /* Asegura que el padding no haga que el ancho sea mayor al 100% */
    }

    .navbar-item:hover {
        background-color: var(--bottom-hover);
        border-radius: 0;
        color: var(--text-colorthree);
        cursor: pointer;
    }

    /* Mostrar menú cuando está activo */
    .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    /* Alternar entre íconos cuando el menú está activo */
    .navbar-menu.active + .navbar-toggle .menu-icon {
        display: none;
    }

    .navbar-menu.active + .navbar-toggle .close-icon {
        display: block;
    }

    .navbar-item {
        padding: 1rem; /* Aumenta el padding para mejor usabilidad en pantallas táctiles */
        text-align: center; /* Centra el texto */
        color: var(--text-color);
        text-decoration: none;
        flex: 1; /* Permite que los ítems se expandan para ocupar el espacio disponible */
        display: flex; /* Asegura que los ítems ocupen el espacio disponible */
        align-items: center; /* Centra el texto verticalmente dentro del ítem */
        justify-content: center; /* Centra el texto horizontalmente dentro del ítem */
    }

    .navbar-item:last-child {
        border-bottom: none; /* Quita la línea separadora del último ítem */
    }

    .banner, .text-image {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner-text, .text-left, .banner-image, .image-right {
        max-width: 100%;
        width: 100%;
    }

    .banner-image, .image-right {
        height: 200px; /* Ajustar la altura para pantallas más pequeñas */
    }

    .adaptive-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 20px 0;
    }
    
    .adaptive-grid .grid-item:nth-child(3) {
        grid-column: span 2;
        justify-self: center;
    }

    .adaptive-grid-two {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
    
    .adaptive-grid-two .grid-item-two:nth-child(3) {
        grid-column: span 2;
        justify-self: center;
    }
}


@media (max-width: 480px) {
    .adaptive-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }
    
    .adaptive-grid .grid-item:nth-child(3) {
        grid-column: auto;
    }

    .adaptive-grid-two {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    
    .adaptive-grid-two .grid-item-two:nth-child(3) {
        grid-column: auto;
    }
}

/* Footer estilos */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 1rem;
    position: relative; /* Mantiene el footer en la parte inferior si el contenido es corto */
    width: 100%; /* Asegura que el footer cubra todo el ancho de la pantalla */
    box-sizing: border-box; /* Incluye padding en el cálculo del ancho total */
    text-align: center; /* Centra el texto en el footer */
}

.footer-container {
    max-width: 1200px; /* Ajusta el ancho máximo del contenido */
    margin: 0 auto; /* Centra el footer en la página */
    padding: 0 1rem; /* Añade padding lateral para el contenido */
}

.footer-links {
    margin-top: 1rem; /* Añade espacio superior para separar los enlaces del texto */
}

.footer-links a {
    color: var(--footer-link-color);
    text-decoration: none;
    margin: 0 0.5rem; /* Añade espacio entre los enlaces */
}

.footer-links a:hover {
    text-decoration: underline; /* Añade subrayado al pasar el ratón por encima */
}

/* Variables de Color */
:root {
    --footer-bg-color:  #1F2126;
    --footer-text-color: white;
    --footer-link-color: white;
}
